<h1>Edit <%= @recipe.title %> Directions </h1>

<% @recipe_list.each do |r| %>
   <li> <a href="/recipes/<%= r.id%>/edit-directions"><%= r.name %></a> </li>
   <br>
<% end %>

<form id="ingredients-form" action="/recipes/<%= @recipe.id %>/edit-directions" method="post">
  <label for="directions"><h3>Add Directions: </h3></label>
  <input type="text" name="directions" class="form-control" placeholder="Enter Directions">
  <br>
  <button type="submit" class="btn btn-danger" id="recipe-butts">Add</button>
</form>
  <br>

<div id="home-butts">

  <a href="/" class="btn btn-warning" id="recipe-butts">Home</a>

</div>
