<h1>Ressipeez</h1>


<div class="recipe">

  <% @recipe_list.each do |recipe| %>
     <li>
        <a href="/recipes/<%= recipe.id %>">
          <%= recipe.title %>
        </a>
     </li>
     <br>
   <% end %>

  <form action="/" method="post">
    <div class="row">
        <label for="title"><h2>Enter a New Recipe: </h2></label>
        <input name="title" type="text" class="form-control" placeholder="Enter New Recipe">
        <br>
        <button type="submit" name="button" class="btn btn-default">Add Recipe</button>
    </div>


  </form>
</div>

<br>
